.radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.radio > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}
.item > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
label {
  margin-top: 0.25rem;
}
.input {
  width: 1.5rem;
}