.form {
    width: 100%;
}
.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.btn-child {
    width: 7.5rem;
    margin-top: 1rem;
    height: 2.5rem;
}